@model IEnumerable<Employee>

@{
	ViewData["Title"] = "Employee List";
}
<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>@Html.DisplayNameFor(Model => Model.FullName)</th>
            <th>@Html.DisplayNameFor(Model => Model.Email)</th>
            <th>@Html.DisplayNameFor(Model => Model.MobileNumber)</th>
            <th>@Html.DisplayNameFor(Model=>Model.JobTitle)</th>
            <th>@Html.DisplayNameFor(Model => Model.HireDate)</th>
            <th>@Html.DisplayNameFor(Model => Model.IsActive)</th>
            <th>@Html.DisplayNameFor(Model => Model.DepartmentId)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>